---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/pages/home.css";
import portraitOfCasey from "../assets/casey-lewis-owner-casey-lewis-photography.avif";
import homeHero1 from "../assets/home-hero-1.avif";
import homeHero2 from "../assets/home-hero-2.avif";
import homeHero3 from "../assets/home-hero-3.avif";
import homeHero4 from "../assets/home-hero-4.avif";
import homeHero5 from "../assets/home-hero-5.avif";
import homeHero6 from "../assets/home-hero-6.avif";
import homeHero7 from "../assets/home-hero-7.avif";
import captureBestSelf from "../assets/capture-best-self.avif";
import showCaseProducts from "../assets/showcase-products.avif";
import photographyEditing from "../assets/Photography Editing.avif";
---

<BaseLayout>
  <!-- SECTION - Home Hero -->
  <section class="home-hero padding-vertical-sitewide">
    <div class="container">
      <!-- Home Hero - Component -->
      <div
        class="home-hero__component display-flex flex-column align-items-center text-align-center margin-bottom-xlarge"
      >
        <div class="home-hero__content-wrapper">
          <h1 class="home-hero__eyebrow eyebrow">
            Headshot and Commercial Photography
          </h1>
          <h2 class="home-hero__heading margin-heading">
            Enhance Your Image, Attract More Customers, Showcase Your Business
          </h2>

          <p class="home-hero__paragraph">
            Specializing in headshot, commercial, and real estate photography
            across Red Oak, Midlothian, Waxahachie, Dallas, and the entire DFW
            Metroplex.
          </p>
          <div class="home-hero button-wrapper-group">
            <a href="/contact" class="button">Book a Session</a>
            <a href="/about" class="button is-secondary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Home Hero - Image Grid -->
    <div class="home-hero__image-grid">
      <Image
        src={homeHero1}
        alt="home hero grid"
        class="home-hero__image is-1"
        width={homeHero1.width}
        height={homeHero1.height}
      />
      <div class="home-hero__stacked-image-wrapper">
        <Image
          src={homeHero2}
          alt="home hero grid"
          class="home-hero__image is-2"
          width={homeHero2.width}
          height={homeHero2.height}
        />
        <Image
          src={homeHero3}
          alt="home hero grid"
          class="home-hero__image is-3"
          width={homeHero3.width}
          height={homeHero3.height}
        />
      </div>
      <Image
        src={homeHero4}
        alt="home hero grid"
        class="home-hero__image is-4"
        width={homeHero4.width}
        height={homeHero4.height}
      />
      <div class="home-hero__stacked-image-wrapper">
        <Image
          src={homeHero5}
          alt="home hero grid"
          class="home-hero__image is-5"
          width={homeHero5.width}
          height={homeHero5.height}
        />
        <Image
          src={homeHero6}
          alt="home hero grid"
          class="home-hero__image is-6"
          width={homeHero6.width}
          height={homeHero6.height}
        />
      </div>
      <Image
        src={homeHero7}
        alt="home hero grid"
        class="home-hero__image is-7"
        width={homeHero7.width}
        height={homeHero7.height}
      />
    </div>
  </section>
  <!-- SECTION - Home Quote -->
  <section
    class="home-quote padding-vertical-medium background-color-secondary"
  >
    <div class="container">
      <!-- Home Quote - Component -->
      <div class="home-quote__component">
        <!-- Home Quote - Text -->
        <h2 class="home-quote__text">
          "Elevate your presence, captivate your audience, and leave lasting
          impressions. Don't let subpar images be the face of your brand.
          Showcase your professionalism and drive your market presence.
        </h2>
      </div>
    </div>
  </section>
  <!-- SECTION - Home Headshot -->
  <section class="home-headshot padding-vertical-sitewide">
    <div class="container">
      <!-- Home Headshot - Component -->
      <div class="home-headshot__component grid-2">
        <!-- Home Headshot - Content Wrapper -->
        <div class="home-headshot__content-wrapper">
          <h2 class="home-headshot__eyebrow eyebrow">Headshot Photography</h2>
          <h3 class="home-headshot__heading heading-h2 margin-heading">
            Capture Your Best Self
          </h3>
          <p class="home-headshot__paragraph">
            Our headshot photography service is designed to elevate your
            personal brand with images that exude confidence, competence, and
            charisma.
          </p>
          <p class="home-headshot__paragraph">
            Ideal for professionals and creative individuals.
          </p>
          <div class="home-headshot button-wrapper-group">
            <a href="/contact" class="button">Book a Session</a>
            <a href="/about" class="button is-icon is-text"
              >Learn More <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z"
                  fill="currentColor"></path>
              </svg>
            </a>
          </div>
        </div>
        <!-- Home Headshot - Image Wrapper -->
        <div class="home-headshot__image-wrapper u-visual-wrap">
          <Image
            src={captureBestSelf}
            alt="woman holding water glass in front of black stand at home"
            class="home-headshot__image u-visual"
            width={captureBestSelf.width}
            height={captureBestSelf.height}
          />
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION - Home Commercial -->
  <section class="home-commercial padding-vertical-sitewide">
    <div class="container">
      <!-- Home Commecial - Component -->
      <div class="home-commercial__component grid-2">
        <!-- Home Commercial - Image Grid -->
        <div class="home-commercial__image-wrapper u-visual-wrap">
          <Image
            src={showCaseProducts}
            alt="man pouring a pour over in a coffee shop"
            class="home-commercial__image u-visual"
            width={showCaseProducts.width}
            height={showCaseProducts.height}
          />
        </div>
        <!-- Home Commercial - Content Wrapper -->
        <div class="home-commercial__content-wrapper">
          <h2 class="home-commercial__eyebrow eyebrow">
            Commercial Photography
          </h2>
          <h3 class="home-commercial__heading heading-h2 margin-heading">
            Showcase Your Products and Services
          </h3>
          <p class="home-commercial__paragraph">
            From capturing the essence of your workplace to showcasing your
            products and services, our images tell the story of your business,
            engaging your audience and enhancing your brand’s visual identity.
            <div class="home-commercial button-wrapper-group">
              <a href="/contact" class="button">Book a Session</a>
              <a href="/about" class="button is-icon is-text"
                >Learn More <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.70697 16.9496L15.414 11.2426L9.70697 5.53564L8.29297 6.94964L12.586 11.2426L8.29297 15.5356L9.70697 16.9496Z"
                    fill="currentColor"></path>
                </svg>
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION - Home Experience -->
  <section class="home-experience padding-vertical-medium">
    <div class="container">
      <!-- Home Experience - Heading Wrapper -->
      <div
        class="home-experience__heading-wrapper display-flex justify-content-center margin-bottom-large"
      >
        <h2
          class="home-experience__heading heading-h3 max-width-large text-align-center"
        >
          Experience, Excellence, & Personal Touch
        </h2>
      </div>
      <!-- Home Experience - Card Layout -->
      <div class="home-experience__card-layout grid-3">
        <!-- Card 1 -->
        <div class="home-experience__card-component background-color-secondary">
          <div class="icon-48">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 49 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26.6665 16V32H30.6665V16C30.6665 11.588 27.0785 8 22.6665 8H10.6665V40H14.6665V12H22.6665C24.8725 12 26.6665 13.794 26.6665 16Z"
                fill="currentColor"></path>
              <path
                d="M34.6665 32C34.6665 34.206 32.8725 36 30.6665 36H22.6665V16H18.6665V40H30.6665C35.0785 40 38.6665 36.412 38.6665 32V8H34.6665V32Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <h3 class="card__heading heading-h5">Experience & Expertise</h3>
          <p class="card__text">
            Years of experience in Dallas, offering a deep understanding of
            local trends and professional demands.
          </p>
        </div>
        <!-- Card 2 -->
        <div class="home-experience__card-component background-color-secondary">
          <div class="icon-48">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M42.0002 38V20C42.0002 17.794 40.2062 16 38.0002 16H32.0002V10C32.0002 7.794 30.2062 6 28.0002 6H10.0002C7.79424 6 6.00024 7.794 6.00024 10V28C6.00024 30.206 7.79424 32 10.0002 32H16.0002V38C16.0002 40.206 17.7942 42 20.0002 42H38.0002C40.2062 42 42.0002 40.206 42.0002 38ZM10.0002 28V10H28.0002V16H20.0002C17.7942 16 16.0002 17.794 16.0002 20V28H10.0002ZM28.0022 28H20.0002V20H28.0022V28ZM20.0002 32H28.0002C30.2062 32 32.0002 30.206 32.0002 28V20H38.0002L38.0022 38H20.0002V32Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <h3 class="card__heading heading-h5">Personalized Approach</h3>
          <p class="card__text">
            A collaborative process that ensures your vision is brought to life,
            with every shot reflecting your personality or brand ethos.
          </p>
        </div>
        <!-- Card 3 -->
        <div class="home-experience__card-component background-color-secondary">
          <div class="icon-48">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 49 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.33325 18C10.5424 18 12.3333 16.2091 12.3333 14C12.3333 11.7909 10.5424 10 8.33325 10C6.12411 10 4.33325 11.7909 4.33325 14C4.33325 16.2091 6.12411 18 8.33325 18Z"
                fill="currentColor"></path>
              <path
                d="M18.3333 28C20.5424 28 22.3333 26.2091 22.3333 24C22.3333 21.7909 20.5424 20 18.3333 20C16.1241 20 14.3333 21.7909 14.3333 24C14.3333 26.2091 16.1241 28 18.3333 28Z"
                fill="currentColor"></path>
              <path
                d="M30.3333 18C32.5424 18 34.3333 16.2091 34.3333 14C34.3333 11.7909 32.5424 10 30.3333 10C28.1241 10 26.3333 11.7909 26.3333 14C26.3333 16.2091 28.1241 18 30.3333 18Z"
                fill="currentColor"></path>
              <path
                d="M30.3333 28C32.5424 28 34.3333 26.2091 34.3333 24C34.3333 21.7909 32.5424 20 30.3333 20C28.1241 20 26.3333 21.7909 26.3333 24C26.3333 26.2091 28.1241 28 30.3333 28Z"
                fill="currentColor"></path>
              <path
                d="M30.3333 38C32.5424 38 34.3333 36.2091 34.3333 34C34.3333 31.7909 32.5424 30 30.3333 30C28.1241 30 26.3333 31.7909 26.3333 34C26.3333 36.2091 28.1241 38 30.3333 38Z"
                fill="currentColor"></path>
              <path
                d="M40.3333 18C42.5424 18 44.3333 16.2091 44.3333 14C44.3333 11.7909 42.5424 10 40.3333 10C38.1241 10 36.3333 11.7909 36.3333 14C36.3333 16.2091 38.1241 18 40.3333 18Z"
                fill="currentColor"></path>
              <path
                d="M8.33325 38C10.5424 38 12.3333 36.2091 12.3333 34C12.3333 31.7909 10.5424 30 8.33325 30C6.12411 30 4.33325 31.7909 4.33325 34C4.33325 36.2091 6.12411 38 8.33325 38Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <h3 class="card__heading heading-h5">Quality & Detail</h3>
          <p class="card__text">
            I'm committed to delivering high-quality images and ensuring your
            complete satisfaction with the results.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION - Home Results -->
  <section class="home-result padding-vertical-sitewide">
    <div class="container">
      <!-- Home Results - Heading Wrapper -->
      <div
        class="home-results__heading-wrapper text-align-center margin-bottom-xlarge"
      >
        <h2 class="home-results__heading heading-h2 margin-heading">
          Pixel Perfect Results
        </h2>
        <p class="home-results_text max-width-medium">
          Every image is not only professionally light, but is meticulously
          edited and retouched in Photoshop for a pixel perfect result.
        </p>
      </div>
      <!-- Home Results - Image Wrapper -->
      <div class="home-results__image-wrapper u-visual-wrap">
        <Image
          src={photographyEditing}
          alt="man sitting at computer ready to edit images pixel perfect"
          class="home-results__image u-visual"
          width={photographyEditing.width}
          height={photographyEditing.height}
        />
      </div>
    </div>
  </section>
</BaseLayout>
